<!DOCTYPE html>
<html>
  <head>
    <title><%= displayed_title(yield(:title)) %></title>
    <%= render partial: 'layouts/rails_default' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= session.to_h %>
    <%= cookies.to_h %>
    <%= render partial: 'layouts/header' %>
    <!-- integrate messages into iterator -->
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <div class="container ">
      <% if params && Rails.env.development? %>
        <p>paramsの中身 ↓</p>
        <%= params.each do |param| %>
          <%= param %><br>
        <% end %>
      <% end %>
      <%= yield %>
      <%= render partial: 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
