<!DOCTYPE html>
<html>
  <head>
    <title><%= displayed_title(yield(:title)) %></title>
    <%= render partial: 'layouts/rails_default' %>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render partial: 'layouts/footer' %>
    </div>
  </body>
</html>
